$icomoon-font-path: "fonts" !default;

$icon-stack: "\e900";
$icon-layers: "\e900";
$icon-check: "\f00c";
$icon-close: "\f00d";
$icon-remove: "\f00d";
$icon-times: "\f00d";
$icon-cog: "\f013";
$icon-gear: "\f013";
$icon-pencil: "\f040";
$icon-forward: "\f04e";
$icon-question-circle: "\f059";
$icon-folder-open: "\f07c";
$icon-thumb-tack: "\f08d";
$icon-arrows-alt: "\f0b2";
$icon-chain: "\f0c1";
$icon-link: "\f0c1";
$icon-floppy-o: "\f0c7";
$icon-save: "\f0c7";
$icon-bars: "\f0c9";
$icon-reorder: "\f0c9";
$icon-columns: "\f0db";
$icon-rotate-left: "\f0e2";
$icon-undo: "\f0e2";
$icon-angle-double-left: "\f100";
$icon-angle-double-right: "\f101";
$icon-angle-double-up: "\f102";
$icon-angle-double-down: "\f103";
$icon-angle-up: "\f106";
$icon-angle-down: "\f107";
$icon-circle-o: "\f10c";
$icon-keyboard-o: "\f11c";
$icon-newspaper-o: "\f1ea";
$icon-object-ungroup: "\f248";

