#drawPopup.popup {
    width: max-content;
    height: max-content;
    display:unset;
    top:25%;
    position: fixed;
}

.drawButtonOption {
    display: none;
}

.drawButtonOption:checked ~ .drawButtonOptionLabel {
    -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.4);
	box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.4);
}

.drawButtonOptionLabel {
    -webkit-appearance: button;
    -moz-appearance: button;
    padding: 2px 8px;
    border-radius: 4px;
    color: black;
    font-weight: normal;
    width: max-content;
}