#drawPopup.popup {
    width: max-content;
    height:250px;
    display:unset;
    top:25%;
    bottom: 25%;
}

#drawPopup.popup:before {
    height: 250px;
}

#drawPopup.popup:after {
    position: fixed;
    height: max-content;
}

#drawPopupText.popuptext{
    height: 100%;
}

#drawPopupText.popuptext button {
    color: #000;
}

input {
    color: #77f;
}

.draw-contents{
    padding: 10px;
}