#insertShapes {
    float: left;
    width: 33%;
}

#updateShapes {
    float: left;
    width: 33%;
}

#deleteShapes {
    float: left;
    width: 33%;
}

#layer{
    padding-left: 10px;
    padding-bottom: 30px;
    padding-right: 10px;
}

select{
    color: #000;
    width: 90%;
}

#debug {
    padding: 30px;
}

#debug-contents{
    height: 400px;
}

#getmPopupText.popuptext{
    height: 100%;
}

#getmPopup.popup{
    position: fixed;
    display: unset;
    width: 50%;
    top:25%;
    left: 25%;
}

#searchFilterPopup.popup{
    position: fixed;
    display: unset;
    top:25%;
    width: 33%;
    left: 33%
}
