.page-contents{
    top: 20px;
    position:absolute;
    width: 100%;
}

body {
    background-color: #2E2E2E;/*#ddf;*/
}

#wmslayer {
    width: 200px;
}

.window-contents {
    background-color:  #2E2E2E;/* #555;/*#dbc;/*#fde; /*#555;/* for debugging #555 for final*/
    overflow-x:hidden;
    overflow-y: auto;
    border-radius: 6px;
    height: 100%;
    padding: 20px;
    min-height: 1px;
}

.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

.popuptext {
    visibility: hidden;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
} 

.popup {
    visibility: hidden;
    position: fixed;
    z-index: -1;
}

/* The actual popup */
.popup .popuptext {
    min-width: 40px;
    min-height: 40px;
    background-color:  #111;/*#faa;;  /*find suitable color later*/
    color: #fff;
    text-align: center;
    border-radius: 6px;
    border: 1px solid ; /*#ccc*/
    margin: 0;
}

.window-headers{
    padding-bottom: 5px;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    margin: auto;  
}

.close{
    float: none;
    right: 10px; /*padding offset*/
    position: absolute;
    overflow: visible;
    color: #858585;
    opacity: .8;
    text-shadow: 0 1px 0 #646464;
}