.inprogress{
    background-color: orange;
}

.page-contents{
    top:50px;
    position:absolute;
    height: auto;
    width: 100%;
    background-color: #ddf;
    padding: 20px;
}

#wmslayer {
    width: 200px;
}
body{
    padding-top: 50px /* nav bar has height of 50px */
}
.window-contents {
    background-color: #dbc;/*#fde; /*#555;/* for debugging #555 for final*/
    overflow-x:hidden;
    overflow-y: auto;
    border-radius: 6px;
    height: 100%;
}

.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

.popuptext {
    visibility: hidden;
    padding-bottom: 40px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
} 

.popup {
    visibility: hidden;
    position: fixed;
    z-index: -1;
    -webkit-user-drag: element;
}

/* The actual popup */
.popup .popuptext {
    min-width: 40px;
    min-height: 40px;
    background-color: #faa; /*#333;  /*find suitable color later*/
    color: #fff;
    text-align: center;
    border-radius: 6px;
    border: 1px solid #ccc;
    margin: 0;
}

.window-headers{
    padding-bottom: 5px;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    margin: auto;  
    color: #77f;/*#ccf*/
}

/*.navbar-inverse{
    background-color: #414;
}

.navbar-inverse .navbar-nav .active a{
    background-color: #ccf;
}*/


.window-header-title{
    /*align-content: center;*/
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    text-overflow: hidden;

}

.close{
    float: none;
    right: 10px; /*padding offset*/
    position: absolute;
    overflow: visible;
}

.navbar-inverse{
    border: unset;
}
.navbar{
    border-radius: unset;
}