#layerInfoPopup.popup {
    width: max-content;
    margin: auto;
    top: 50px;
    max-height: max-content;
    height: 400px;
}

#layerInfoPopup.popup:before {
    height: 300px;
}

#layerInfoPopup.popup:after {
    position: fixed;
    height: max-content;
}


#layerInfoPopupText.popuptext {
    margin: 0px;
    min-width: 200px;
    height: 100%;
}

#layerinfoform {
 padding: 10px;
 width: 100%;
}

.layerinfoselect {
    width:auto;
}

#layerinfolayer {
    width:auto;
}
.wrong {
    border: 2px solid red;
}