#layerInfoPopup.popup {
    width: max-content;
    top: 100px;
    height: max-content;
    min-width: 200px;
    width: 20%;
    right: 0px;
}

#layerInfo-contents {
    height: 400px;
}

.wrong {
    border: 2px solid red;
}

.required{
    border: 2px solid darkblue;
}

#layerInfoForm div{
    text-align: left;
}

#layerInfoForm input {
    position: relative;
    width: 100%;
    left: 0%;
}

.msg{ 
    /*display: inline-table;*/
    /*position: relative;*/
    /*right: 0%;*/
    /*text-align: center;*/
    /*background-color: black;*/
    width: 100%;
    /*//height: 40px;*/
    overflow-y: auto;
}

#layerInfo-contents {
    width: 100%;
    left: 0px;
}

#featureInfo-contents {
    height: 400px;
}

#featureInfo-contents span {
    text-align: left;
    display: table-cell;
}

#featureInfo-contents div {
    position: relative;
    width: 500px;
    display: table-row;
}

#featureInfo-contents input {
    text-align: left;
    display: table-cell;
    float: right;
    height: inherit;
}