#layerInfoPopup.popup {
    width: max-content;
    margin: auto;
    top: 50px;
    max-height: max-content;
    height: 400px;
}

#layerInfoPopup.popup:before {
    height: 300px;
}

#layerInfoPopup.popup:after {
    position: fixed;
    height: max-content;
}


#layerInfoPopupText.popuptext {
    margin: 0px;
    min-width: 200px;
    height: 100%;
}

#layerinfoform {
 padding: 10px;
 width: 100%;
}

.layerinfoselect {
    width:auto;
}

#layerinfolayer {
    width:auto;
}
.wrong {
    border: 2px solid red;
}

.required{
    border: 2px solid darkblue;
}

.required ~ .msg{
    display: inline;

    /*float: right;*/
}

.required ~ .msg:after{
        content: "Required";
}

.wrong ~ .msg:webkit{
        content: "Syntax error";
}

.msg{ 
    position: relative;
    right:0px;
    background-color: black;
    width: 50px;
    height: 100px;
    overflow-y: auto;
    /*display: none;*/
    border: 2px black;
}
