.hide {
	visibility: hidden;
}

#map {
	/*position: relative;*/
	width: 100%;
    z-index: 0;
}

.whitebg{
	background-color: white;
}

#map:-moz-full-screen {
    height: 100%;
}

#map:-webkit-full-screen {
    height: 100%;
}

#map:-ms-fullscreen {
    height: 100%;
}

#map:fullscreen {
    height: 100%;
}

.ol-rotate {
    top: 3em;
}

.wfs_legend{
    font-size: 16px;
    padding: 5px;
    font-weight: bold;
}

/* begin attribution coloring */
.shape_layer_attribution{
    color:black;
    font-size: 16px;
    font-weight: 2;
    padding: 5px;
}

.ol-attribution.ol-unselectable.ol-control:not(.ol-collapsed){
    background-color: rgba(255,255,255,0);
}
/* end attribution coloring */

.securityBanner {
	font-weight: bold;
	z-index: 2;
}

#topBanner {
	position: fixed; 
	top: 0; 
	left: 0; 
	right: 0; 
	text-align: center; 
	margin: 0;
}

#bottomBanner {
	position: fixed; 
	bottom: 0; 
	left: 0; 
	right: 0; 
	text-align: center; 
	margin: 0;
}

.dropdown-menu {
	min-width: 200px;
	width: max-content;
}

.dropdown-menu label{
	font-weight: normal;
	width: max-content;
	padding: 5px;
}