#drawPopup {
    width: 100px;
    height: 230px;
    min-width: 100px;
    min-height: 230px;
}

#drawPopupText button {
    color: #000;

}

.wrapper{
    overflow-x:hidden;
    height: 90%;
        overflow-y: auto;
}

input {
    color: #77f;
}