#drawPopup {
    width: max-content;
    height:250px;
    display:unset;
    top:25%;
    bottom: 25%;
}


#drawPopup:before {
    height: 250px;
}

#drawPopup:after {
    position: fixed;
    height: max-content;
}

#drawPopupText{
    height: 100%;
    padding-bottom: 40px;
    padding-right: 10px;
}

#drawPopupText button {
    color: #000;
}

input {
    color: #77f;
}