#layerInfoPopup {
    /*position: absolute;*/
    /*top:50px;
    left:33%;*/
    width: auto;
    margin: auto;
    

}

#layerInfoPopupText {
    margin: 0px;
    min-width: 200px;
    
}

#layerinfoform {
 /*width: 90%;*/
 padding: 10px;
 width: 100%;
}

.layerinfoselect {
    width:auto;
}
.wrapper{
    overflow-x: hidden;
    height: 90%;
    overflow-y: auto;
    display: inline-block; 
}

/*#layerInfoPopupText select {
    color: #000;
}*/

.wrong {
    border: 2px solid red;
}