#layerInfoPopup {
    width: auto;
    margin: auto;
    top: 50px;
    height: 50%;
    
}
#layerInfoPopup:before {
    height: 50%;
}

#layerInfoPopup:after {
    position: fixed;
    height: max-content;
}
#layerInfoPopupText {
    margin: 0px;
    min-width: 200px;
    height: 100%;
    padding-bottom: 40px;
    padding-right: 10px;
}

#layerinfoform {
 padding: 10px;
 width: 100%;
}

.layerinfoselect {
    width:auto;
}

.wrong {
    border: 2px solid red;
}